.type-of-treatment .table-and-explication {
    padding: 0 0 35px 0;
}
.list-of-tasks {
    width: 100%;
}
.list-of-tasks tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    line-height: 33px;
    border-bottom: 1px solid #e1e1e1;
}


.list-of-tasks tr .task-name {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    margin: 0 0 0 55px;
    position: relative;
}

.list-of-tasks tr .duration {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 115px;
    flex: 0 0 115px;
    display: block;
    text-align: right;
}
.list-of-tasks tr .price {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75px;
    flex: 0 0 75px;
    display: block;
    text-align: right;
}
.list-of-tasks tr .price-sale {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    display: block;
    color: #dd2f65;
    text-align: right;
}
h3.name-of-treatment {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    margin: 0 160px 18px 0;
}
